<% include partials/header %>
<div class='container'>
  <h1>home</h1>
  <form method='POST' action='/'>
    <input type='text' placeholder="Steam ID" name='steamID'></input>
    <button>Go</button>
  </form>
</div>
<% include partials/footer %>
