body {
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* To ensure that the gradient displays as a fullscreen image vs. tiled */
html, body {
     height: 100%;
}

#content {
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 25%;
}

#content h1 {
  color: white;
}

#content p {
  color: white;
}

#content button {
  margin-top: 10px;
}

#results {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

#results ul {
  list-style-type: none;
  padding: 0;
}

.id-input {
  outline: none;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin-top: 10px;
}
